.title{
    font-size: larger;
    color: lightslategray;
    background-color: linen;
}

.subtit{
    font-size: large;
    color: lightslategray;
    background-color: linen;
}

p {
    font-size: medium;
    background-color: mediumaquamarine;
}

.ingr{
    background-color: lightskyblue;
}

  .bannimg img {
    max-width: 100%;
    width: auto;
  }